extends /template/base/base


block content
  .errorTile
    h1.errorHeadline= __('error.503.headline', 'Sorry, something has gone wrong…')
    a(href='/')= __('error.homeButton', 'Go to homepage')

  if config('debug.mode')
    .errorDebug
      .errorDebugTitle Debug:
      pre.errorDebugContent= error
