extends /template/base/base

include /organism/productList/productList


block maincontent
  main.mt-5.pt-4
    .container
      h1=__("special-offers").setDefaultLabel("Special Offers")
      section.text-center.mb-4
        // Grid row
        //+productListByProductSearchResult(findProducts("homepagewidget",{"query":"","pageSize": "10","sortDirection":"A","sortBy":'name'},{"categories":['laptops']}))
        +productListByProductSearchResult(findProducts("homepagewidget",{"query":"","pageSize": "8","sortDirection":"A","sortBy":'name'},{}))