extends /template/base/base
include /organism/cart/cart


block maincontent
  main.mt-5.pt-4
    div.container.wow.fadeIn.content-minheight
      //-h2.my-5.h2.text-center Cart
      h3.d-flex.justify-content-between.align-items-center.mb-3.mt-4=__("Your cart")
      h4 Error: Something unexpected happend
      a.btn.btn-primary.btn-md.my-0.p(href=url("cart.view")) Proceed to cart

